<section class="page__about about" id="about">
    <div class="about__container">
        <div class="about__left__content">
            <h6 class="about__left__subtitle content__subtitle">ABOUT US</h6>
            <h3 class="about__left__title content__title">
                Trusted By Worldwide <br />
                Clients Since <span>1980</span>
            </h3>
            <p class="about__text content__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                A officia molestiae dolorum tempora ut accusamus cupiditate!
                Nesciunt tempora reiciendis libero voluptate!
            </p>
            <button class="about__button content__button">Get in touch
                <svg width="24px" height="24px">
                    <use xlink:href="./svg/sprite.svg#icon-Arrow"></use>
                </svg>
            </button>
        </div>
        <div class="about__right__content">
            <ul class="about__list">
                <li class="about__item">
                    <svg width="48px" height="48px" style="fill: #fff; stroke: #000;">
                        <use xlink:href="./svg/sprite.svg#icon-Star"></use>
                    </svg>
                    <div class="about-small-container">
                        <h5 class="about__right__title content__title__medium">
                            First On Field
                        </h5>
                        <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste
                        </p>
                    </div>
                </li>
                <li class="about__item">
                    <svg width="48px" height="48px" style="fill: #fff; stroke: #000;">
                        <use xlink:href="./svg/sprite.svg#icon-Map"></use>
                    </svg>
                    <div class="about-small-container">
                        <h5 class="about__right__title content__title__medium">Worldwide services</h5>
                        <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste
                        </p>
                    </div>
                </li>
                <li class="about__item">
                                    <svg width="48px" height="48px" style="fill: #fff; stroke: #000;">
                                        <use xlink:href="./svg/sprite.svg#icon-Check"></use>
                                    </svg>
                    <div class="about-small-container">
                        <h5 class="about__right__title content__title__medium">Easy to reach</h5>
                        <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste
                        </p>
                    </div>
                </li>
                <li class="about__item">
                    <svg width="48px" height="48px" style="fill: #fff; stroke: #000;">
                        <use xlink:href="./svg/sprite.svg#icon-Help"></use>
                    </svg>
                    <div class="about-small-container">
                    <h5 class="about__right__title content__title__medium">24/7 Support</h5>
                    <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                    </div>
                </div>
        </li>
        </ul>
    </div>
    </div>
</section>