<section class="advantages">
    <div class="advantages__container" id="advantages">
        <ul class="advantages-card-list">
            <li class="advantages-card-item first-card">
                <svg width="48px" height="48px" style="fill: transparent; stroke: #000">
                    <use xlink:href="./svg/sprite.svg#icon-Checkbox"></use>
                </svg>
                <span>758+</span>
                <p>Finished Projects</p>
            </li>
            <li class="advantages-card-item second-card">
                <svg  width="48px" height="48px" style="fill: transparent; stroke: #000">
                    <use xlink:href="./svg/sprite.svg#icon-Document"></use>
                </svg>
                <span>23</span>
                <p>Created jobs</p>
            </li>
            <li class="advantages-card-item third-card">
                <svg  width="48px" height="48px" style="fill: transparent; stroke: #000">
                    <use xlink:href="./svg/sprite.svg#icon-Happy"></use>
                </svg>
                <span>200+</span>
                <p>Happy customers</p>
            </li>
            <li class="advantages-card-item fourth-card">
                <svg  width="48px" height="48px" style="fill: transparent; stroke: #000">
                    <use xlink:href="./svg/sprite.svg#icon-Years"></use>
                </svg>
                <span>28+</span>
                <p>Years of experience</p>
            </li>
        </ul>
    </div>
</section>