<section class="blog">
    <div class="blog__container" id="blog">
        <div class="blog__text__content">
            <div class="blog__text__box">
                <h6 class="content__subtitle">BLOG</h6>
                <h3 class="content__title">Latest News</h3>
            </div>
            <button class="content__button">See all posts
                <svg width="24px" height="24px">
                    <use xlink:href="./svg/sprite.svg#icon-Arrow"></use>
                </svg>
            </button>
        </div>
        <div class="blog__card">
            <ul class="blog__card__list">

                <li class="blog__card__item">
                    <div class="blog__card_img">
                        <div class="color">
                            <img src="../img/design-illustrator-drawing-with-ipad.png" alt="illustration">
                        </div>
                    </div>
                    <div class="blog__card_info">
                        <div class="info-button">
                            <p class="info">05 oct 2024
                                <svg width="16px" height="16px">
                                    <use xlink:href="./svg/sprite.svg#icon-Date"></use>
                                </svg>
                            </p>
                            <p class="info">
                                Hosting
                            </p>
                        </div>
                        <p class="info_title">How Litespeed Technology Works To Speed Up Your Site</p>
                        <p class="info_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla
                            dolorem, voluptates molestiae</p>
                        <div class="info_footer">
                            <div class="user">
                                <svg width="26px" height="26px">
                                    <use xlink:href="./svg/sprite.svg#icon-User"></use>
                                </svg>
                                <p class="user__name">Yusuf Amin</p>
                            </div>
                            <button class="content__button">Read more</button>
                        </div>
                    </div>
                </li>
                <li class="blog__card__item">
                    <div class="blog__card_img">
                        <div class="color">
                            <img src="../img/design-illustrator-drawing-with-ipad.png" alt="illustration">
                        </div>
                    </div>
                    <div class="blog__card_info">
                        <div class="info-button">
                            <p class="info">05 oct 2024
                                <svg width="16px" height="16px">
                                    <use xlink:href="./svg/sprite.svg#icon-Date"></use>
                                </svg>
                            </p>
                            <p class="info">
                                Hosting
                            </p>
                        </div>
                        <p class="info_title">How Litespeed Technology Works To Speed Up Your Site</p>
                        <p class="info_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla
                            dolorem, voluptates molestiae</p>
                        <div class="info_footer">
                            <div class="user">
                                <svg width="26px" height="26px">
                                    <use xlink:href="./svg/sprite.svg#icon-User"></use>
                                </svg>
                                <p class="user__name">Yusuf Amin</p>
                            </div>
                            <button class="content__button">Read more</button>
                        </div>
                    </div>
                </li>
                <li class="blog__card__item">
                    <div class="blog__card_img">
                        <div class="color">
                            <img src="../img/design-illustrator-drawing-with-ipad.png" alt="illustration">
                        </div>
                    </div>
                    <div class="blog__card_info">
                        <div class="info-button">
                            <p class="info">05 oct 2024
                                <svg width="16px" height="16px">
                                    <use xlink:href="./svg/sprite.svg#icon-Date"></use>
                                </svg>
                            </p>
                            <p class="info">
                                Hosting
                            </p>
                        </div>
                        <p class="info_title">How Litespeed Technology Works To Speed Up Your Site</p>
                        <p class="info_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla
                            dolorem, voluptates molestiae</p>
                        <div class="info_footer">
                            <div class="user">
                                <svg width="26px" height="26px">
                                    <use xlink:href="./svg/sprite.svg#icon-User"></use>
                                </svg>
                                <p class="user__name">Yusuf Amin</p>
                            </div>
                            <button class="content__button">Read more</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>