<section class="choose">
    <div class="choose__container" id="choose">
        <div class="choose__right__section">
            <div class="choose__right__section__img">
                <img src="../img/business-business-deal.png" alt="video conference">
            </div>
            <div class="choose__right__section_text">
                <h6 class="content__subtitle">WHY CHOOSE US</h6>
                <h3 class="content__title">Why Our Customers <br/>
                Choose <span>Working</span> With Us</h3>
                <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    A officia molestiae dolorum tempora ut accusamus cupiditate!
                Nesciunt tempora reiciendis libero voluptate!</p>
                <button class="content__button">Get in touch
                    <svg width="24px" height="24px">
                        <use xlink:href="./svg/sprite.svg#icon-Arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="choose__left__section">
            <ul class="choose__list">
                <li class="choose__item">
                    <div class="choose-mark">01.</div>
                    <div class="choose-content">
                        <h5 class="content__title__medium">Latest Technologies</h5>
                        <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                </li>
                <li class="choose__item">
                    <div class="choose-mark">02.</div>
                    <div class="choose-content">
                        <h5 class="content__title__medium">Uniqe Solutions</h5>
                        <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                </li>
                <li class="choose__item">
                    <div class="choose-mark">03.</div>
                    <div class="choose-content">
                        <h5 class="content__title__medium">Powerful Strategies</h5>
                        <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
</section>