<section class="clients">
    <div class="clients__container" id="clients">
        <div class="clients__text__content">
            <h3 class="content__title">Trusted By Over <span>500 </span> Clients Around The World </h3>
        </div>
        <div class="clients__card">
            <ul class="clients__card__list">
                <li class="clients__card__item">
                    <p>Logo</p>
                </li>
                <li class="clients__card__item">
                    <p>Logo</p>
                </li>
                <li class="clients__card__item">
                    <p>Logo</p>
                </li>
                <li class="clients__card__item">
                    <p>Logo</p>
                </li>
                <li class="clients__card__item">
                    <p>Logo</p>
                </li>
                <li class="clients__card__item">
                    <p>Logo</p>
                </li>
                <li class="clients__card__item">
                    <p>Logo</p>
                </li>
            </ul>
        </div>
    </div>
</section>