<header class="header">
  <div class="header__container" id="header">
    <a href="#header" class="header__logo">
      <img src="./img/Logo.png" alt="logo">
    </a>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link active">Home</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">About us</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Services</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Portfolio</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Blog</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Pages</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Contact us</a>
        </li>
      </ul>

    </nav>
  </div>
</header>
