<header class="header">
  <div class="header__container" id="header">
    <a href="#header" class="header__logo">
      <img src="./img/Logo.png" alt="logo">
    </a>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#hero" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">About us</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Services</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Portfolio</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Blog</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Pages</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="burger__menu" data-menu-open> Menu
        <svg width="24" height="24">
          <use href="./svg/sprite.svg#icon-Menu-2"></use>
        </svg>
    </div>
    <div class="mob-menu is-hidden" data-menu>
      <a href="#header" class="header__logo__burger">
        <img src="./img/Logo.png" alt="logo">
      </a>
      <ul class="mob__menu__list">
        <li class="mob__menu__item">
          <a href="#hero" class="mob__menu__link">Home</a>
        </li>
        <li class="mob__menu__item">
          <a href="#" class="mob__menu__link">About us</a>
        </li>
        <li class="mob__menu__item">
          <a href="#" class="mob__menu__link">Services</a>
        </li>
        <li class="mob__menu__item">
          <a href="#" class="mob__menu__link">Portfolio</a>
        </li>
        <li class="mob__menu__item">
          <a href="#" class="mob__menu__link">Blog</a>
        </li>
        <li class="mob__menu__item">
          <a href="#" class="mob__menu__link">Pages</a>
        </li>
        <li class="mob__menu__item">
          <a href="#" class="mob__menu__link">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</header>
