<section class="page__hero hero" id="hero">
    <div class="hero__container">
        <div class="hero__images__left">
            <img src="./img/Frame 533.png" alt="img" class="hero__image__left-1">
            <img src="./img/Frame 541.png" alt="img" class="hero__image__left-1">
            <img src="./img/Frame 534.png" alt="img" class="hero__image__left-1">
        </div>
        <div class="hero__content content-hero">
            <div class="content__link">
                <ul class="content__link__list">
                    <li class="content__link__item">
                        <a href="#" class="header__social">
                            <svg width="24px" height="24px" style="fill: inherit; stroke: white;">
                                <use xlink:href="./svg/sprite.svg#icon-Facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="content__link__item">
                        <a href="#" class="header__social">
                            <svg width="24px" height="24px" style="fill: inherit; stroke: white;">
                                <use xlink:href="./svg/sprite.svg#icon-YouTube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="content__link__item">
                        <a href="#" class="header__social">
                            <svg width="24px" height="24px" style="fill: inherit; stroke: white;">
                                <use xlink:href="./svg/sprite.svg#icon-Instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="content__link__item">
                        <a href="#" class="header__social">
                            <svg width="24px" height="24px" style="fill: white; stroke: white;">
                                <use xlink:href="./svg/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hero__content__text content-hero">
                <div class="content__title-all">
                    <h6 class="content__title__small content__subtitle"> IT SOLUTIONS</h6>
                </div>
                <div class="content__title">
                    <h1 class="content__title__main"> Providing The Best Services & IT<a href="#"
                            class="content__title__main__link">Solutions</a></h1>
                </div>
                <div class="content-hero__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto dolorum inventore totam
                        adipisci</p>
                </div>
                <button href="#" class="content__button">Start now
                    <svg width="24px" height="24px">
                        <use xlink:href="./svg/sprite.svg#icon-Arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="hero__images__right">
            <img src="./img/hero-img.png" alt="hero-img" class="hero__images__right__one">
        </div>
    </div>
</section>