<section class="portfolio">
    <div class="portfolio__container" id="portfolio">
        <div class="portfolio__text__content">
            <h6 class="content__subtitle">PORTFOLIO</h6>
            <h3 class="content__title">Awesome Portfolio</h3>
        </div>
        <div class="portfolio-button">
            <ul class="services-list">
                <li class="services-item">
                    <button class="services-button">
                        All
                    </button>
                </li>
                <li class="services-item">
                    <button class="services-button">
                        Mobile apps
                    </button>
                </li>
                <li class="services-item">
                    <button class="services-button">
                        Cloud
                    </button>
                </li>
                <li class="services-item">
                    <button class="services-button">
                        Data Analysis
                    </button>
                </li>
                <li class="services-item">
                    <button class="services-button">
                        Hosting
                    </button>
                </li>
            </ul>
        </div>
        <div class="portfolio__card">
            <ul class="portfolio__card__list">
                <li class="portfolio__card__item pink-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item blue-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item green-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item peach-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item pink-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item blue-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item green-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item peach-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
            </ul>
        </div>
        <div class="portfolio__card__mob">
            <ul class="portfolio__card__list">
                <li class="portfolio__card__item pink-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item blue-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item green-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item peach-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item light-red-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
                <li class="portfolio__card__item pink-card">
                    <img src="../img/shopping-online-gifting.png" alt="online shopping">
                </li>
               
            </ul>
        </div>
    </div>
</section>