<section class="pricing">
    <div class="pricing__container" id="pricing">
        <div class="pricing__text__content">
            <div class="pricing__text__box">
                <h6 class="content__subtitle">PRICING PLANS</h6>
                <h3 class="content__title">Affordable Pricing Plans</h3>
                <p class="content__text">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis
                    Id Atque Dignissimos Repellat Quae Ullam.</p>
            </div>
            <button class="content__button">See all plans
                <svg width="24px" height="24px">
                    <use xlink:href="./svg/sprite.svg#icon-Arrow"></use>
                </svg>
            </button>
        </div>
        <div class="pricing__card">
            <ul class="pricing__card__list">
                <li class="pricing__card__item">
                    <h6 class="pricing__card__subtitle content__subtitle">Free</h6>
                    <p class="pricing__card__prise"> <span>$00</span> /Per Project</p>
                    <div class="pricing__card__features">
                        <p>Features</p>
                        <ul class="pricing__card__features__list">
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>150 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>20 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Free Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Added Lorem, Ipsum Dolor.</p>
                            </li>
                        </ul>

                    </div>
                    <button class="content__button">Select plan</button>
                </li>
                <li class="pricing__card__item">
                    <h6 class="pricing__card__subtitle content__subtitle">Standard</h6>
                    <p class="pricing__card__prise"> <span>$85</span> /Per Project</p>
                    <div class="pricing__card__features">
                        <p>Features</p>
                        <ul class="pricing__card__features__list">
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>150 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>20 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Free Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Added Lorem, Ipsum Dolor.</p>
                            </li>
                        </ul>

                    </div>
                    <button class="content__button">Select plan</button>
                </li>
                <li class="pricing__card__item best">
                    <div class="pricing__title">
                        <h6 class="pricing__card__subtitle content__subtitle">Pro</h6>
                        <div class="pricing__star">
                            Best offer
                            <svg width="24px" height="24px" style="fill: #000; stroke: #000;">
                                <use xlink:href="./svg/sprite.svg#icon-Star-black"></use>
                            </svg>
                        </div>
                    </div>

                    <p class="pricing__card__prise"> <span>$150</span> /Per Project</p>
                    <div class="pricing__card__features">
                        <p>Features</p>
                        <ul class="pricing__card__features__list">
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>150 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>20 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Free Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Added Lorem, Ipsum Dolor.</p>
                            </li>
                        </ul>

                    </div>
                    <button class="content__button">Select plan</button>
                </li>
                <li class="pricing__card__item">
                    <h6 class="pricing__card__subtitle content__subtitle">Ultimate</h6>
                    <p class="pricing__card__prise"> <span>$210</span> /Per Project</p>
                    <div class="pricing__card__features">
                        <h7>Features</h7>
                        <ul class="pricing__card__features__list">
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>150 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>20 Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Free Lorem, Ipsum Dolor.</p>
                            </li>
                            <li class="pricing__card__features__item">
                                <svg width="24px" height="24px" style="fill: transparent; stroke: #000;">
                                    <use xlink:href="./svg/sprite.svg#icon-Check1"></use>
                                </svg>
                                <p>Added Lorem, Ipsum Dolor.</p>
                            </li>
                        </ul>

                    </div>
                    <button class="content__button">Select plan</button>
                </li>
            </ul>
        </div>
    </div>
</section>