<section class="page__services services" id="services">
    <div class="services__container">
        <div class="services__right__section">
            <div class="services__right__section__img">
                <img src="../img/work-video-conference.png" alt="video conference">
            </div>
            <div class="services__right__section_text">
                <h6 class="content__subtitle">SERVICES</h6>
                <h3 class="content__title">Services We Offer</h3>
                <p class="content__text">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Omnis Id Atque
                    Dignissimos Repellat Quae Ullam.</p>
                <button class="content__button">See all services
                    <svg width="24px" height="24px">
                        <use xlink:href="./svg/sprite.svg#icon-Arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="services__left__section">
            <div class="services__left__section__card">
                <h5 class="content__title__medium">Web Development</h5>
                <p class="content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                <a href="#" class="content_link">Read more
                    <svg width="24px" height="24px" style="fill: #000; stroke: #000;">
                        <use xlink:href="./svg/sprite.svg#icon-Forward"></use>
                    </svg>
                </a>
            </div>
            <div class="services__left__section__button">
                <ul class="services-list">
                    <li class="services-item">
                        <button class="services-button">
                            Web Development
                        </button>
                    </li>
                    <li class="services-item">
                        <button class="services-button">
                            Digital Marketing
                        </button>
                    </li>
                    <li class="services-item">
                        <button class="services-button">
                            SaaS Products
                        </button>
                    </li>
                    <li class="services-item">
                        <button class="services-button">
                            Apps Development
                        </button>
                    </li>
                    <li class="services-item">
                        <button class="services-button">
                            SEO Services
                        </button>
                    </li>
                    <li class="services-item">
                        <button class="services-button">
                            Data Analysis
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>