<section class="testimonials">
    <div class="testimonials__container" id="testimonials">
        <div class="testimonials__text__content">
            <h6 class="content__subtitle">TESTIMONIALS</h6>
            <h3 class="content__title">Customers Testmonials</h3>
        </div>
        <div class="testimonials__tab">
            <ul class="testimonials__tab__list">
                <li class="testimonials__tab__item">
                    <div class="testimonials__tab__text">
                        <svg width="61px" height="100px">
                            <use xlink:href="./svg/sprite.svg#icon-untitled"></use>
                        </svg>
                        <p>ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi
                            aut qui est ab, corporis quis maiores reiciendis
                            explicabo odio tenetur nulla sint vel.</p>
                    </div>
                    <div class="testimonials__tab__user">
                        <svg width="48px" height="48px">
                            <use xlink:href="./svg/sprite.svg#icon-User"></use>
                        </svg>
                        <div class="user">
                            <p class="user__name">Yusuf Amin</p>
                            <p class="user__role">Founder</p>
                        </div>
                    </div>
                </li>
                <li class="testimonials__tab__item">
                    <div class="testimonials__tab__text">
                        <svg width="61px" height="100px">
                            <use xlink:href="./svg/sprite.svg#icon-untitled"></use>
                        </svg>
                        <p>ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi
                            aut qui est ab, corporis quis maiores reiciendis
                            explicabo odio tenetur nulla sint vel.</p>
                    </div>
                    <div class="testimonials__tab__user">
                        <svg width="48px" height="48px">
                            <use xlink:href="./svg/sprite.svg#icon-User"></use>
                        </svg>
                        <div class="user">
                            <p class="user__name">Fouad Osman</p>
                            <p class="user__role">Officer</p>
                        </div>
                    </div>
                </li>
                <li class="testimonials__tab__item">
                    <div class="testimonials__tab__text">
                        <svg width="61px" height="100px">
                            <use xlink:href="./svg/sprite.svg#icon-untitled"></use>
                        </svg>
                        <p>ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi
                            aut qui est ab, corporis quis maiores reiciendis
                            explicabo odio tenetur nulla sint vel.</p>
                    </div>
                    <div class="testimonials__tab__user">
                        <svg width="48px" height="48px">
                            <use xlink:href="./svg/sprite.svg#icon-User"></use>
                        </svg>
                        <div class="user">
                            <p class="user__name">Fairouz Mhmd</p>
                            <p class="user__role">Manager</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>