@import url('./reset.scss');
// fonts//
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./header.css');

:root {
  font-family: Jost, sans-serif;
  font-size: 20px;
  color: #000;
}

[class*="__container"] {
  max-width: 1482px;
  // або 15 
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper>main {
  flex-grow: 1;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #E2E6EE;
  border-radius: 0 0 72px 72px;
  padding: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;

}

.header__logo {
  flex: 0 0 74px;
}

.header__logo img {
  width: 100%;
}

.header__menu {}

.menu {}

.menu__list {
  display: flex;
  align-items: center;
  gap: 39px;

}

.menu__item {
  // margin: 8px 22px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
  position: relative;
}

.active {
  background-color: #000;
  color: #FFF;
  font-weight: 500;
  padding: 8px 22px;
  border-radius: 26px;
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0;
}

.menu__link__active::after {
  // content: url('../svg/sprite.svg#icon-Dot');
  // mask: url('#icon-Dot') no-repeat center;
}

.menu__link:hover {
  color: grey;
}

.page {}

.page__hero {}

/*Hero */

.hero {
  background-color: #E2E6EE;
  border-radius: 0 0 72px 72px;
}

.hero__container {
  position: relative;
  display: flex;
  width: 1920px;
  padding-top: 228px;
  padding-bottom: 228px;
  padding-left: 52px;
  gap: 60px;
}

.hero__images__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.hero__image__left-1 {
  width: 180px;
  height: 136px;
}

.hero__content {
  flex: 0 1 30%;
  padding-top: 46px;
}

.content-hero {
  width: 516px;
}

.content__link {}

.content__link__list {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

.content__link__item {
  background-color: #000;
  border-radius: 26px;
  padding: 8px;
}

.header__social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__title {
  // display: flex;
  // flex-direction: column;
  // gap: 20px;
}

.content__title__small {
  text-transform: uppercase;
}

.content__title__main {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.content__title__main__link {
  font-style: italic;
  font-weight: 200;
  line-height: 1.12;
  // text-decoration-line: underline;
  text-transform: capitalize;
  position: relative;
  color: #000;

}

.content__title__main__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  /* товщина підкреслення */
  background-color: transparent;
  /* прозорий фон */
  bottom: 5px;
  /* відстань від слова */
  left: 0;
  box-shadow: inset 0 -1px 0 0 #000;
  /* товщина і колір підкреслення */
}

.content__title__main__link:hover {
  color: lightblue;
}

.content__title__main__link:hover::after {
  box-shadow: inset 0 -1px 0 0 lightblue;
}

.hero__content__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.content-hero__text {}

.content__button {
  background-color: #000;
  border-radius: none;
  color: #FFF;
  font-weight: 500;
  padding: 8px 22px;
  border-radius: 26px;
  display: flex;
  gap: 8px;
  align-items: center;

}

.hero__images__right {
  flex: 0 1 55%;
}

.hero__images__right__one {
  // width: 1183px;
  height: 444px;
}

.footer {
  color: #FFF;
  background-color: #000;
  border-radius: 72px 72px 0 0;

  .content__link__item {
    color: #FFF;
    background-color: #FFF;
  }
}

.footer__container {
  padding: 48px 100px 24px 100px;
display: flex;
flex-direction: column;
gap: 51px;
}
.footer__main__content{
  display: flex;
    
    justify-content: center;
    width: 100%;
}

.footer__info {
  width: 510px;
  // margin-right: 29px;
}

.footer__info__logo {}

.header__logo {}

.footer__info__text {
  margin: 24px 0 48px 0;
  max-width: 428px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  p {
    line-height: 1.45;
  }
}

.footer__info__email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-size: 14px;
  }
}

.footer__info__email__title {}

.email__input {
  width: 100%;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 34.5px;
  padding: 20px 24px;
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  position: relative;

  button {
    position: absolute;
    top: 12px;
    right: 16px;
    background-color: #FFF;
    border-radius: 26px;
    border: none;
    padding: 8px 22px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.footer__info__email__input {
  background-color: inherit;

  &::placeholder {
    color: #FFF;
  }
}

.footer__2 {
  display: flex;
}

.footer__link {
margin-right: 46px;
}

.footer__title {
  margin-bottom: 34px;
  font-size: 34px;
  font-weight: 700;
}

.footer__link_list {}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 24px;}

.footer__link__item {}

.footer__item {
  a{
  display: flex;
  align-items: center;
  gap: 12px;
}
}
.footer__item__info{
    display: flex;
      align-items: center;
      gap: 12px;
}
.footer__resources {
  margin-right: 37px;
}

.footer__resources__list {}

.footer__resources__item {}

.footer_contacts {
  .footer__list{
    margin-bottom: 30px;
  }
}

.content__link {}

.content__link__list {}

.content__link__item {}

.header__social {}

.footer__policy__content{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.45;
  div{
    display: flex;
    gap: 32px;
  }
}